{% extends 'frontend/layout.html.twig' %}

{% form_theme form 'frontend/form/theme.html.twig' %}

{% block content %}
    {{ sonata_block_render_event('sylius.shop.register.after_content_header') }}
    <div class="grid-container grid-x align-center registerpage">
        <div class="cell medium-8">
            <div id="register-logo">
                <i class="fas fa-user"></i>
            </div>
            <h2>{{ 'sylius.ui.register'|trans }}</h2>
            <h3>{{ 'app.ui.it_is_nice_to_meet_you'|trans }}</h3>

            {{ sonata_block_render_event('sylius.shop.register.before_form') }}

            {{ form_start(form, {'action': path('app_frontend_register'), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate'}}) }}
            {% include 'frontend/register/_form.html.twig' %}

            {{ sonata_block_render_event('sylius.shop.register.form', {'form': form}) }}
            {{ form_row(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
