{% import _self as self %}

{% macro updateStateButton(booking, transition, icon, color) %}
    {% import 'SyliusUiBundle:Macro:buttons.html.twig' as buttons %}

    <form style="display: inline-block" action="{{ path('app_backend_booking_update_state', {
        'id': booking.id,
        'transition': transition
    }) }}" method="post">
        <input type="hidden" name="_method" value="PATCH">
        {#        <input type="hidden" name="_csrf_token" value="{{ csrf_token(booking.id) }}" />#}
        <button class="ui {{ color|default('') }} labeled icon button" type="submit">
            <i class="icon {{ icon }}"></i> {{ ('app.ui.'~transition)|trans }}
        </button>
    </form>

{% endmacro %}

<div class="alert alert-warning changeStatusContainer" role="alert">
    <span class="fa fa-exclamation-triangle"></span>

    <div class="pull-right control-group">
        {% if sm_can(booking, 'cancel', 'app_booking') %}
            {{ self.updateStateButton(booking, 'cancel', 'ban') }}
        {% endif %}

        {% if sm_can(booking, 'refuse', 'app_booking') %}
            {{ self.updateStateButton(booking, 'refuse', 'ban') }}
        {% endif %}

        {% if sm_can(booking, 'finish', 'app_booking') %}
            {{ self.updateStateButton(booking, 'finish', 'checkmark') }}
        {% endif %}

        {% if sm_can(booking, 'contact_family', 'app_booking') %}
            {{ self.updateStateButton(booking, 'contact_family', 'checkmark') }}
        {% endif %}

        {% if sm_can(booking, 'schedule_a_visit', 'app_booking') %}
            {{ self.updateStateButton(booking, 'schedule_a_visit', 'checkmark') }}
        {% endif %}

    </div>
</div>
