{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% if last_error %}
    {{ messages.error(last_error.messageKey|trans(last_error.messageData, 'security')) }}
{% endif %}

{{ form_label(form._username, '', {'label_attr': {'class': 'label_form'}}) }}
{{ form_widget(form._username) }}
{{ form_label(form._password, '', {'label_attr': {'class': 'label_form'}}) }}
{{ form_widget(form._password) }}
<a href="{{ path('sylius_user_request_password_reset_token') }}" class="remember">{{ 'app.ui.i_cant_remember_my_password'|trans }}</a>
<div class="field">
    <div class="checkbox">
        {{ form_widget(form._remember_me) }}
        {{ form_label(form._remember_me) }}
    </div>
</div>
