{% extends 'frontend/layout.html.twig' %}

{% block content %}
    <div class="booking-show">
        <div class="grid-container grid-x">
            <div class="cell small-12">
                <nav aria-label="You are here:" role="navigation" class="breadcrumb">
                    <ul class="breadcrumbs">
                        <li><a href="{{ path('app_frontend_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a></li>
                        <li><a href="{{ path('sylius_frontend_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a></li>
                        <li><span class="show-for-sr">Current: </span>{{ 'app.ui.booking'|trans }}</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="header-booking-show">
            <h3>{{ 'app.ui.your_reservation'|trans }}</h3>
            <h6>#{{ booking.id }} - {{ booking.createdAt|date("m/d/Y") }}</h6>
            <p>{{ 'app.ui.you_will_be_contacted_soon_to_schedule_a_visit'|trans }}</p>
        </div>
        <div class="grid-container grid-x align-middle booking-state">
            <div class="cell medium-3">
                <h6 class="active-state"><i class="fas fa-check-circle"></i>{{ 'app.ui.requested_visit'|trans }}</h6>
            </div>
            <div class="cell medium-3">
                <h6 class="{% if constant('App\\BookingStates::FAMILY_CONTACTED') == booking.status or constant('App\\BookingStates::VISIT_SCHEDULED') == booking.status or constant('App\\BookingStates::FINISHED') == booking.status %}
                                active-state
                            {% else %}
                                inactive-state
                            {% endif %}">
                                {% if constant('App\\BookingStates::FAMILY_CONTACTED') == booking.status or constant('App\\BookingStates::VISIT_SCHEDULED') == booking.status or constant('App\\BookingStates::FINISHED') == booking.status %}
                                    <i class="fas fa-check-circle"></i>
                                {% else %}
                                    <i class="far fa-clock"></i>
                                {% endif %}
                                {{ 'app.ui.accepted_visit'|trans }}</h6>
            </div>
            <div class="cell medium-3">
                <h6 class="{% if constant('App\\BookingStates::VISIT_SCHEDULED') == booking.status or constant('App\\BookingStates::FINISHED') == booking.status %}
                                active-state
                            {% else %}
                                inactive-state
                            {% endif %}">
                                {% if constant('App\\BookingStates::VISIT_SCHEDULED') == booking.status or constant('App\\BookingStates::FINISHED') == booking.status %}
                                    <i class="fas fa-check-circle"></i>
                                {% else %}
                                    <i class="far fa-clock"></i>
                                {% endif %}
                                {{ 'app.ui.scheduled_visit'|trans }}</h6>
            </div>
            <div class="cell medium-3">
                <h6 class="{% if constant('App\\BookingStates::FINISHED') == booking.status %}
                                active-state
                           {% else %}
                                inactive-state
                           {% endif %}">
                                {% if constant('App\\BookingStates::FINISHED') == booking.status %}
                                    <i class="fas fa-check-circle"></i>
                                {% else %}
                                    <i class="far fa-clock"></i>
                                {% endif %}
                                {{ 'app.ui.adopted_pet'|trans }}</h6>
            </div>
        </div>
        {{ render(url('app_frontend_partial_pet_show', {'template': 'frontend/booking/_card.html.twig', 'slug': booking.pet.slug})) }}
    </div>
{% endblock content %}
