{% extends 'frontend/account/layout.html.twig' %}

{% form_theme form 'frontend/form/theme.html.twig' %}

{% block breadcrumb %}
    <nav aria-label="You are here:" role="navigation" class="breadcrumb">
        <ul class="breadcrumbs">
            <li><a href="{{ path('app_frontend_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a></li>
            <li><a href="{{ path('sylius_frontend_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a></li>
            <li><span class="show-for-sr">Current: </span>{{ 'sylius.ui.personal_information'|trans }}</li>
        </ul>
    </nav>
{% endblock %}

{% block subcontent %}
    <div class="update-profile">
        <div class="grid-x title-container">
            <div class="cell small-2">
                <div id="booking-logo" class="hide-for-small-only">
                    <i class="fas fa-user"></i>
                    <i class="fas fa-pencil-alt"></i>
                </div>
            </div>
            <div class="cell auto">
                <h3 class="title">{{ 'sylius.ui.personal_information'|trans }}</h3>
                <h4 class="subtitle">{{ 'app.ui.tell_us_more_about_yourself'|trans }}</h4>
            </div>
        </div>
        {{ form_start(form, {'action': path('sylius_frontend_account_profile_update')}) }}
        <input type="hidden" name="_method" value="PUT" />
        <div class="grid-x align-justify grid-form">
            <div class="cell medium-12">
                <h3>{{ 'app.ui.identity'|trans }}</h3>
                <hr>
            </div>
            <div class="cell medium-6">
                {{ form_row(form.firstName) }}
            </div>
            <div class="cell medium-5">
                {{ form_row(form.lastName) }}
            </div>
            <div class="cell medium-6">
                {{ form_row(form.birthday) }}
            </div>
            <div class="cell medium-5">
                {{ form_row(form.gender) }}
            </div>
            <div class="cell medium-12">
                <h3>{{ 'app.ui.contact'|trans }}</h3>
                <hr>
            </div>
            <div class="cell medium-6">
                {{ form_row(form.email) }}
            </div>
            <div class="cell medium-5">
                {{ form_row(form.phoneNumber) }}
            </div>
            <div class="cell medium-12">
                <button type="submit" class="ui large button">{{ 'sylius.ui.save_changes'|trans }}</button>
            </div>
        </div>
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
