{% import 'SyliusUiBundle:Macro:messages.html.twig' as messages %}
{% import 'SyliusUiBundle:Macro:buttons.html.twig' as buttons %}
{% import 'SyliusUiBundle:Macro:labels.html.twig' as labels %}

<h3 class="ui top attached header">{{ 'app.ui.new_animals'|trans }}</h3>
<div class="ui attached segment">

    {% if animals|length > 0 %}
        <table class="ui stackable very basic table" id="animals">
            <thead>
            <th>{{ 'sylius.ui.name'|trans }}</th>
            <th></th>
            <th></th>
            </thead>
            <tbody>
            {% for animal in animals %}
                <tr>
                    <td>
                        <strong>{{ animal.name }}</strong><br>
                        <div style="color: #ababab;">{{ animal.description }}</div>
                    </td>
                    <td>
                        <div class="ui right floated buttons">
                            {{ buttons.edit(path('app_backend_animal_update', {'id': animal.id})) }}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ messages.info('sylius.ui.no_results_to_display') }}
    {% endif %}
</div>
