{% import 'backend/macro/image.html.twig' as images %}


{% set pet_path = path('app_frontend_pet_show', { 'slug': pet.slug }) %}

<div class="card">
    {% if pet.firstImage is not null %}
        {% set path = vich_uploader_asset(pet.firstImage, 'file') %}
        <a href="{{ pet_path }}">{{ images.render(path, 'pet_grid', pet.name) }}</a>
    {% endif %}
    <div class="card-section">
        <a class="header" href="{{ pet_path }}">{{ pet.name }} {% if constant('App\\Sex::FEMALE') == pet.sex %}<i class="fas fa-venus"></i>{% else %}<i class="fas fa-mars"></i>{% endif %}</a>
        <div class="meta">
            <a href="{{ path('app_frontend_pet_per_taxon_index', { 'slug': pet.taxon.slug }) }}">{{ pet.taxon.name }}</a>
        </div>
    </div>
</div>
