<div class="cell small-2 animal-filter">
    <h2>{{ 'sylius.ui.filters'|trans }}</h2>
    <div class="animal-animal-filter">
        <h3>{{ 'app.ui.pet'|trans }}</h3>
        {% include 'frontend/grid/filter/_filters.html.twig' with { 'grid': resources } %}
    </div>
    <div class="animal-sex-filter">
        <h3>{{ 'app.ui.sex'|trans }}</h3>
        <div class="checkbox">
            <input type="checkbox"><label>Female</label>
        </div>
        <div class="checkbox">
            <input type="checkbox"><label>Male</label>
        </div>
    </div>
    <div class="animal-color-filter">
        <h3>{{ 'app.ui.main_color'|trans }}</h3>
        <div class="grid-x">
            <div class="cell">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                </div>
            </div>
            <div class="cell">
                <div class="grid-x grid-margin-x">
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                    <div class="cell small-2">
                        <div class="color"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="animal-size-filter">
        <h3>{{ 'app.ui.size'|trans }}</h3>
        <div class="checkbox">
            <input type="checkbox"><label>Small</label>
        </div>
        <div class="checkbox">
            <input type="checkbox"><label>Medium</label>
        </div>
        <div class="checkbox">
            <input type="checkbox"><label>Tall</label>
        </div>
    </div>
</div>
