{% extends 'frontend/layout.html.twig' %}

{% set pageTitle = 'app.ui.pets'| trans %}

{% block content %}
    <div class="top">
        <div class="grid-x">
            <div class="cell small-11 small-offset-1">
                {% include 'frontend/pet/show/_breadcrumb.html.twig' %}
            </div>
        </div>
    </div>
    <div class="top">
        <div class="grid-x">
            <div class="cell large-5 medium-offset-1">
                {% include 'frontend/pet/show/_images.html.twig' %}
            </div>
            <div class="cell large-5">
                <div class="pet-top">
                    <h1 data-name>{{ pet.name }}</h1>
                    <h3>{{ pet.taxon.code }}</h3>
                    <div>
                        <p>{{ pet.description|nl2br }}</p>
                    </div>
                </div>
                <div class="info">
                    <div class="grid-x">
                        <div class="cell medium-4">
                            <h4>{{ 'app.ui.sex'|trans }}</h4>
                            <h5>{{ ('app.ui.'~pet.sex)|trans }}</h5>
                        </div>
                        <div class="cell medium-4">
                            <h4>{{ 'app.ui.main_color'|trans }}</h4>
                            <h5>{{ pet.mainColor is not null ? (('app.ui.'~pet.mainColor)|trans) : ('app.ui.no_main_color'|trans) }}</h5>
                        </div>
                        <div class="cell medium-4">
                            <h4>{{ 'app.ui.size'|trans }}</h4>
                            <h5>{{ pet.size }} {{ (('app.ui.'~pet.sizeUnit)|trans) }}</h5>
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <a href="{{ path('app_frontend_booking_summary', { 'slug': pet.slug }) }}" type="button" class="button primary pet">{{ 'app.ui.ask_for_a_visit'|trans }}</a>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="taxon">
            <hr>
            <h1>{{ pet.taxon.code }}</h1>
            <h3>Some text</h3>
            <hr>
            <p>{{ pet.taxon.description|nl2br }}</p>
        </div>
    </div>
{% endblock content %}
