{% macro item(taxon) %}
    {% import _self as macros %}

    {% if taxon.children|length > 0 %}
        <div class="ui dropdown item">
            <span class="text">{{ taxon.name }}</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                {% for childTaxon in taxon.children %}
                    {{ macros.item(childTaxon) }}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <a href="{{ path('app_frontend_pet_per_taxon_index', {'code': taxon.code}) }}" class="item">{{ taxon.name }}</a>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

{% if resources|length > 0 %}
    <div class="ui large inverted stackable menu">
        {% for taxon in resources %}
            {{ macros.item(taxon) }}
        {% endfor %}
    </div>
{% endif %}
