<div class="grid-x align-center registerpage">
    <div class="large-10 small-10">
        <h4>{{ 'sylius.ui.personal_information'|trans }}</h4>
    </div>
    <div class="large-10 small-10">
        <hr>
    </div>
    <div class="large-10 small-10">
        <div class="grid-x">
            <div class="large-6 small-12">
                {{ form_label(form.firstName, '', {'label_attr': {'class': 'label_form'}}) }}
                {{ form_widget(form.firstName) }}
            </div>
            <div class="large-5 small-12 large-offset-1">
                {{ form_label(form.lastName, '', {'label_attr': {'class': 'label_form'}}) }}
                {{ form_widget(form.lastName) }}
            </div>
        </div>
    </div>
    <div class="large-10 small-10">
        {{ form_label(form.email, '', {'label_attr': {'class': 'label_form'}}) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="large-10 small-10">
        {{ form_label(form.phoneNumber, '', {'label_attr': {'class': 'label_form'}}) }}
        {{ form_widget(form.phoneNumber) }}
    </div>
    <div class="large-10 small-10">
        <h4>{{ 'sylius.ui.account_credentials'|trans }}</h4>
    </div>
    <div class="large-10 small-10">
        <hr>
    </div>
    <div class="large-10 small-10">
        {{ form_label(form.user.plainPassword.first, '', {'label_attr': {'class': 'label_form'}}) }}
        {{ form_widget(form.user.plainPassword.first) }}
        <h5>{{ 'app.ui.at_least_8_characters_long'|trans }}</h5>
    </div>
    <div class="large-10 small-10">
        {{ form_label(form.user.plainPassword.second, '', {'label_attr': {'class': 'label_form'}}) }}
        {{ form_widget(form.user.plainPassword.second) }}
    </div>
    <button type="submit" class="button primary">
        {{ 'sylius.ui.create_an_account'|trans }}
    </button>
</div>
