{% macro item(taxon) %}
    <div class="cell large-4">
        <div class="card home">
            {% set img_path = 'assets/frontend/img/'~taxon.slug~'.svg' %}
            {% set taxon_code = taxon.code|lower %}
            {% set lets_find_taxon = 'app.ui.lets_find_a_'~taxon_code %}
            <img src="{{ asset(img_path, 'frontend') }}"/>
            <h1>{{ taxon.name }}</h1>
            <p>{{ taxon.translation.description }}</p>
            <a href="{{ path('app_frontend_pet_per_taxon_index', {'slug': taxon.slug}) }}" class="button primary">{{ lets_find_taxon|trans }}</a>
        </div>
    </div>
{% endmacro %}

{% import _self as macros %}

{% if resources|length > 0 %}
    <div class="grid-container align-justify">
        <div class="grid-x grid-padding-x grid-padding-y">
            {% for taxon in resources %}
                {{ macros.item(taxon) }}
            {% endfor %}
        </div>
    </div>
{% endif %}
