{% extends 'frontend/layout.html.twig' %}

{% block class %}homepage{% endblock %}

{% block content %}
    <div class="header">
        <div class="grid-container grid-x align-justify">
            <div class="title cell medium-6 large-5">
                <h1>{{ 'app.ui.adopt_the_perfect_pet_for_you_and_your_family'|trans }}</h1>
            </div>
            <div class="image show-for-medium">
                <img src="{{ asset('assets/frontend/img/img-header.jpg', 'frontend') }}"/>
            </div>
        </div>
    </div>
    <section class="latest-pets text-center">
        <h2>{{ 'app.ui.they_cant_wait_to_meet_you'|trans }}</h2>
        {{ render(url('app_frontend_partial_pet_latest', {'count': 4, 'template': 'frontend/homepage/_pets.html.twig'})) }}
        <a href="{{ path('app_frontend_pet_index') }}" class="button">{{ 'app.ui.show_me_more'|trans }}</a>
    </section>
    <section class="what-kind text-center">
        <h2>{{ 'app.ui.what_kind_of_animal_are_you_looking_for'|trans }}</h2>
        {{ render(url('sylius_frontend_partial_taxon_root_nodes', {'template': 'frontend/homepage/_categories.html.twig', 'slug': app.request.get('slug')})) }}
    </section>
{% endblock %}
