<footer id="footer">
    <div style="padding-top: 70px">
        <div id="footer-rectangle">
            <h1 id="about-us">{{ 'app.ui.about_us'|trans }}</h1>
            <p id="monofony-is-nananini">{{ 'app.ui.monofony_is_nananini'|trans }}</p>
            <h2 id="any-question-lets-talk">{{ 'app.ui.any_questions_lets_talk'|trans }}</h2>
        </div>
        <div id="monofony-footer">
            <div>
                <img src="{{ asset('assets/frontend/img/logo_png.png', 'frontend') }}"/>
            </div>
            <div>
                <img src="{{ asset('assets/frontend/img/github.svg', 'frontend') }}"/>
            </div>
            <div>
                <img src="{{ asset('assets/frontend/img/mobizel.svg', 'frontend') }}"/>
            </div>
        </div>
    </div>
</footer>
