<footer class="main-footer grid-container fluid">
    <div class="grid-x align-center">
        <div class="cell medium-8 large-6 about text-center bg-white">
            <div class="h2">{{ 'app.ui.about_demo'|trans }}</div>
            <p>{{ 'app.ui.about_demo_content'|trans }}</p>
            <div class="h3">{{ 'app.ui.any_questions_lets_talk'|trans }}</div>
        </div>
        <div class="cell grid-x grid-padding-y grid-margin-x align-center">
            <div class="cell shrink">
                <img src="{{ asset('assets/frontend/img/logo.svg', 'frontend') }}"/>
            </div>
            <div class="cell shrink">
                <a href="https://github.com/Monofony/Demo" target="_blank"><img src="{{ asset('assets/frontend/img/github.svg', 'frontend') }}"/></a>
            </div>
        </div>
    </div>
</footer>
