<div class="top-bar menu-top-bar" id="responsive-menu">
        <a href="{{ path('app_frontend_homepage') }}"><img src="{{ asset('assets/frontend/img/logo_png.png', 'frontend') }}" class="ui medium image logo"/></a>
        <ul class="menu align-center-middle align-center">
            {{ render(url('sylius_frontend_partial_taxon_root_nodes', {'template': 'frontend/taxon/_horizontal_menu.html.twig', 'slug': app.request.get('slug')})) }}
        </ul>
        <div class="top-bar-right">
            {% if is_granted('ROLE_USER') %}
                <div class="item">{{ 'sylius.ui.hello'|trans }} {{ app.user.customer.fullName }}!</div>
                <a href="{{ path('sylius_frontend_account_dashboard') }}" class="item button primary login">{{ 'sylius.ui.my_account'|trans }}</a>
                <a href="{{ path('app_frontend_logout') }}" class="item app-logout-button button primary register">{{ 'sylius.ui.logout'|trans }}</a>
            {% else %}
                <a href="{{ path('app_frontend_login') }}" class="item button primary login">{{ 'sylius.ui.login'|trans }}</a>
                <a href="{{ path('app_frontend_register') }}" class="item button primary register">{{ 'sylius.ui.register'|trans }}</a>
            {% endif %}
        </div>
</div>
