<nav aria-label="You are here:" role="navigation" class="breadcrumb">
    <ul class="breadcrumbs">
        <li><a href="{{ path('app_frontend_homepage') }}" class="section">{{ 'sylius.ui.home'|trans }}</a></li>
        <li><a href="{{ path('sylius_frontend_account_dashboard') }}" class="section">{{ 'sylius.ui.my_account'|trans }}</a></li>
        <li><span class="show-for-sr">Current: </span>{{ 'app.ui.booking'|trans }}</li>
    </ul>
</nav>
