{% import 'backend/macro/image.html.twig' as images %}

{% if pet.firstImage %}
    {% set source_path = pet.firstImage.path %}
    {% set original_path = source_path|imagine_filter('app_frontend_pet_show') %}
    {% set path = source_path|imagine_filter(filter|default('app_frontend_pet_show')) %}
{% else %}
    {% set original_path = '//placehold.it/400x300' %}
    {% set path = original_path %}
{% endif %}

<div class="grid-x orbit" data-orbit>
    <div class="orbit-bullets cell medium-2 hide-for-small-only">
        <nav>
            {% for image in pet.images %}
                {% set path = vich_uploader_asset(image, 'file') %}
                <button class="thumbnail-item {{ loop.first ? 'is-active' : ''}}" data-slide="{{ loop.index - 1 }}">
                    <div class="thumbnail-wrapper">
                        {{ images.render(path, 'app_frontend_pet_show', pet.name) }}
                    </div>
                </button>
            {% endfor %}
        </nav>
    </div>
    <div class="orbit-wrapper cell small-8">
        <ul class="orbit-container">
            {% for image in pet.images %}
                {% set path = vich_uploader_asset(image, 'file') %}
                <li class="{{ loop.first ? 'is-active' : ''}} orbit-slide">
                    <figure class="orbit-figure">
                        <div class="orbit-image-wrapper">
                            {% set class = "orbit-image" %}
                            {{ images.render(path, 'app_frontend_pet_show', pet.name, class) }}
                        </div>
                    </figure>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
